@font-face {
    font-family: "Sentio";
    src: url("fonts2/icomoon.eot");
    src: url("fonts2/icomoon.eot") format("embedded-opentype"), url("fonts2/font-icon.woff") format("woff"), url("fonts2/icomoon.ttf") format("truetype"), url("fonts2/icomoon.svg?9sz7c4#sentio") format("svg");
    font-weight: normal;
    font-style: normal;
}
.font-icon, .widget_categories ul li:before, .widget_pages ul li:before, .widget_nav_menu ul li:before, [data-icon], .search-submit {
    display: inline-block;
    font-family: "Sentio";
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hero-message > i {
    font-size: 3em;
    opacity: 0;
    -webkit-animation: fadeInDownBig 0.5s forwards;
    -o-animation: fadeInDownBig 0.5s forwards;
    animation: fadeInDownBig 0.5s forwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.hero-message * {
    color: #ffffff !important;
}
.font-icon, .widget_categories ul li:before, .widget_pages ul li:before, .widget_nav_menu ul li:before, [data-icon], .search-submit {
    display: inline-block;
    font-family: "Sentio";
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
}

[data-icon]:before, .search-submit:before {
    content: attr(data-icon);
}

.hero-message {
    position: absolute;
    top: 50%;
    z-index: 99;
    left: 50%;
    display: table;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.9;
    overflow: hidden;
    padding-top: 25px;
    text-align: center;
}

.hero-message {
    font-family: Sentio;
    position: relative;
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    top: 216px;
    z-index: 99;
    left: 50%;
    display: table;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.9;
    overflow: hidden;
    padding-top: 25px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 25px;
    margin-bottom: 12.5px;
}
.hero-message > i {
    font-size: 3em;
    opacity: 0;
    -webkit-animation: fadeInDownBig 0.5s forwards;
    -o-animation: fadeInDownBig 0.5s forwards;
    animation: fadeInDownBig 0.5s forwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.hero-message h1 {
    font-size: 4em;
    padding: 0 25px;
    position: relative;
}
.hero-message h1 span {
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards;
    -o-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.hero-message h1:after, .hero-message h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: currentColor;
}
.hero-message h1:before {
    top: 0;
    left: 0;
    -webkit-animation: bounceInLeft 2s;
    -o-animation: bounceInLeft 2s;
    animation: bounceInLeft 2s;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.hero-message h1:after {
    right: 0;
    bottom: 0;
    -webkit-animation: bounceInRight 2s;
    -o-animation: bounceInRight 2s;
    animation: bounceInRight 2s;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.hero-message h2 {
    opacity: 0;
    -webkit-animation: fadeInUpBig 1s forwards;
    -o-animation: fadeInUpBig 1s forwards;
    animation: fadeInUpBig 1s forwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.hero-message .icon-direction {
    font-size: 6em;
    line-height: 31px;
}

.meta-title {
    padding: 50px;
}



.will-change-parent:hover .will-change {
    will-change: transform;
}
.will-change {
    height: 40px;
    width: 200px;
    background: #ccc;
    transition: transform 0.5s;
}
.will-change:hover {
    transform: scale(1.2);
}

.inline {
    display: inline-block;
    vertical-align: bottom;
}



.post-thumb {
    overflow: hidden;
    text-align: center;
    height: 200px;
}
.post-thumb a {
    position: relative;
    display: inline-block;
}
.post-thumb a:before, .post-thumb a:after {
    content: "";
    display: block;
    position: absolute;
    width: 12.5px;
    top: 0;
    bottom: 0;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9;
    will-change: transform;
}
.post-thumb a:before {
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.post-thumb a:after {
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.post-thumb a img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    will-change: transform;
    background: red;
}
.post-thumb a:hover img {
    -webkit-transform: translateY(12.5px);
    -ms-transform: translateY(12.5px);
    -o-transform: translateY(12.5px);
    transform: translateY(12.5px);
}
.post-thumb a:hover:before, .post-thumb a:hover:after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}


/*recent works*/


.dt-recent-works {
    background: #fdfdfd;
    border: 1px solid rgba(0,0,0,.027);
    border-left: 0;
    border-right: 0;
}

.dt-works-meta,
.dt-services-meta {
    padding: 0 30px;

    text-align: center;
}

.dt-works-meta h2,
.dt-services-meta h2,
.dt-testimonial-wrap h2,
.dt-news-layout-wrap h2 {
    font-weight: 400;
    line-height: 1.5em;

    position: relative;

    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 10px;

    text-align: center;
}

.dt-works-meta h2 span,
.dt-services-meta h2 span,
.dt-testimonial-wrap h2 span,
.dt-news-layout-wrap h2 span {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 80px;
    height: 2px;
    margin-left: -40px;

    background: #ccc;
}

.dt-works-meta p,
.dt-services-meta p {
    margin-bottom: 64px;

    opacity: .8;
}

.dt-works-holder {
    float: left;

    width: calc(33.333333% - 30px);
    margin: 0 15px 30px;

    text-align: center;
}

.dt-works-holder figure {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 0;
    padding-bottom: 70%;
}

.dt-works-holder figure img {
    width: 100%;
    height: auto;
}

.transition5 {
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.dt-works-desc {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: 0;
    height: 0;

    opacity: 0;
    background: rgba(0,0,0,.7);
}

.dt-works-holder figure:hover .dt-works-desc {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 1;
}

.dt-work-ttl {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.4s;
}

.dt-works-holder figure:hover .dt-work-ttl {
    top: 35%;
    /*transform: translateY(-30%);*/
    opacity: 1;
    visibility: visible;
}

.dt-works-desc h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6em;
    padding: 0 25px;

    color: #fff;
}

.dt-works-desc a {
    font-size: 14px;

    display: inline-block;

    padding: 5px 16px;

    color: rgba(255,255,255,.75);
    border-radius: 2px;
}



.animate-box {
    width: 90%;
    margin: 20px auto;
}
figure {
    width: 300px;
    float: left;
    height: 250px;
    overflow: hidden;
    position: relative;
}
figure img{
    width: 100%;
    height: 100%;
}
.fb-b a, .fb-b {color: #fff}
.fb {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
}

/*.fb {*/
    /*position: absolute;*/
    /*top: 0%;*/
    /*left: 0%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*overflow: hidden;*/
    /*opacity: 1;*/
    /*background-color: rgba(0,0,0,0.5);*/
/*}*/

.in-box figure:hover .fb {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
}

.fb-b {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40%;
    left: 0;
    opacity: 0;
    z-index: 4;
}
.fb-b.fadeInUp {
    animation-delay: .3s;
}
.fb-b.fadeOutDown {
    animation-duration: .5s;
}

.clear {
    clear: both;
}